body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.container {
	/*display: flex;*/
	/*height: 100%;*/

}

.character {
	height: 150px;
	width: 175px;
	display: inline-block;
	/*border: 3px solid green;*/
	position:relative;
	margin: 20px;
	transition: transform 300ms ease;
}

h1 {
	font-weight: 600;
}

h3 {
	color: #ddd;
	width: 100%;
	background-color: olive;
	border-radius: 10px;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
}

h4 {
	color: #ddd;
	width: 100%;
	height: 30px;
	margin-top: 150px;
	position: absolute;
	line-height: 30px;
	text-align: center;
	background-color: olive;
	border-radius: 10px;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
}

#character1 {
	background-image: url('../images/spider.jpg');
	background-size: 100% 100%;
}

#character2 {
	background-image: url('../images/mantis.jpg');
	background-size: 100% 100%;
}

#character3 {
	background-image: url('../images/hornet.jpg');
	background-size: 100% 100%;
}

#character4 {
	background-image: url('../images/scorpion.jpg');
	background-size: 100% 100%;
}

#textArea {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	height: 200px;
	color: #ddd;
	background-color: olive;
	opacity: 0.95;
	border-radius: 10px;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
	margin: 20px 0;

}

.playerSelect {
	
}

.remainingOpponents {
}

.defenderSelect .defender {
	height: 100px;
	width: 200px;

	display: inline-block;
}

.float {
	float: left;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.block {
	display: block;
}

.attack {
	/*background-color: #777;*/
	/*color: #ddd;*/
	/*opacity: 0.9;*/
	/*border: 1px solid black;*/
	font-size: 20px;
	text-transform: uppercase;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
}

.name {

}

.asdf {
	 /*animation: animateLeft 1s infinite;*/


}

.foe {
	/*animation: animateRight 2s linear infinite normal forwards;*/
}

.defeated {
	border: 3px solid #777;
	opacity: 0.5;
}


.isHidden {
	display: none;
}

@keyframes animateLeft {
	0% {
		transform: translateX(100px);
	}
	100% {
		transform: translate(300px, 0px,);
	}
}


@keyframes animateRight {
	0% {
		transform: translateX(-100px) rotateY(180deg);
	}
	100% {
		transform: translate(-300px, 0px,) rotateY(180deg);
	}
}

/*@keyframes animateRight {
	0% {
		transform: translateX(100px);
	}
	100% {
		transform: translate(-300px, 0px,);
	}
}*/


/*@keyframes animateLeft {
	0% {
		transform: translate(0px, 0px,);
	}

	25% {
		transform: translate(0px, 0px,);		
	}

	40%, 
	50%,
	60% {
		transform: translate(-100px, 0px,);		
	}

	75% {
		transform: translate(0px, 0px,);
	}

	100% {
		transform: translate(0px, 0px,);
	}
}

anim:*/