body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


h1 {
	font-weight: 600;
}

h3 {
	color: #ddd;
	width: 100%;
	background-color: olive;
	border-radius: 10px;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
}

h4 {
	color: #ddd;
	width: 100%;
	height: 30px;
	margin-top: 150px;
	position: absolute;
	line-height: 30px;
	text-align: center;
	background-color: olive;
	border-radius: 10px;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
}

.character {
	height: 150px;
	width: 175px;
	display: inline-block;
	position:relative;
	margin: 20px;
	transition: transform 300ms ease;
}

#character1 {
	background-image: url('../images/spider.jpg');
	background-size: 100% 100%;
}

#character2 {
	background-image: url('../images/mantis.jpg');
	background-size: 100% 100%;
}

#character3 {
	background-image: url('../images/hornet.jpg');
	background-size: 100% 100%;
}

#character4 {
	background-image: url('../images/scorpion.jpg');
	background-size: 100% 100%;
}

#textArea {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	height: 200px;
	color: #ddd;
	background-color: olive;
	opacity: 0.95;
	border-radius: 10px;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
	margin: 20px 0;
}

.playerSelect {

}

.attack {
	font-size: 20px;
	text-transform: uppercase;
	box-shadow: -3px 3px 5px rgba(0,0,0,1);
}

.hero {

}

.animateR {
	 animation-name: animateRight;
	 animation-duration: 1s;
	 animation-iteration-count: 1;
}

.animateL {
	 animation-name: animateLeft;
	 animation-duration: 1s;
	 animation-iteration-count: 1;
}

@keyframes animateLeft {
	0% {
		transform: translateX(100px);
	}
	100% {
		transform: translate(300px, 0px,);
	}
}

@keyframes animateRight {
	0% {
		transform: translateX(-100px) rotateY(180deg);
	}
	100% {
		transform: translate(-300px, 0px,) rotateY(180deg);
	}
}


@media (max-width: 980px){
	.character {
		width: 100px;
		height: 75px;
		margin: 15px;
	}

	h4 {
		margin-top: 75px;
		font-size: 14px;
	}

}

@media (max-width: 768px){
	.character {
		width: 150px;
		height: 100px;
		margin: 15px;
	}

	h4 {
		margin-top: 75px;
		font-size: 14px;
	}

	body {
		display: none;
	}
}

